// results
.results
  font-size: 0

.result
  background: red
  display: inline-block
  list-style: none
  max-height: 10rem
  overflow: hidden
  position: relative
  text-decoration: none
  width: 100%

.result img
  max-width: 150%
  position: relative

.result__footer
  background-color: $color__white
  font-size: 1rem
  padding: 0.5rem
  position: relative
  vertical-align: top

.result__description
  display: block

.result__company
  color: rgb(200, 200, 200)
  display: inline-block

.result__price
  color: rgb(0, 220, 120)
  float: right
